.containerWrap {
    background-color: #cef4a5; /* Light grey background for the chat container */
    padding: 20px;
    border-radius: 10px;
    height: 100vh;
    overflow-y: auto;
  }
.msg {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
   
  }
  
  .sent {
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  
  .received {
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  


  }
  
  .chat-bubble {
    padding: 10px;
    border-radius: 10px;
    background-color: #d6ec15;
    max-width: 60%;
  }
  
  .sent .chat-bubble {
    background-color: #ded1fb;
  }
  
  .received .chat-bubble {
    background-color: #c2e8fa;
  }
  